body
{
    margin: 0px;
    padding: 0px;
    background-color: #c5c5c5;
}
.body
{
    max-width: 400px;
    margin: 0px auto;
    background-color: white;
}
.violette
{
    background-color:  #6D283F;
    color:white;
}
h1,h2,h3,h4,h5,h6
{
    display: block;
    padding: 1px 0px;
}
h1,h2
{
    text-align: center;
}
div
{
    padding:  5px;
}
.main-h1
{
    padding-left: 30px;
}
.settemp
{
    font-size: 1.5em;
    width: 100px;
}
.submit-btn
{
    font-size: 1.3em;
    padding: 4px;
    margin-left: 10px;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #6D283F;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6D283F;
    cursor: pointer;
}

.green-circle-wrapper {
    float: right;
    margin:15px;
    font-size: 10px;
    text-align: center;

}
.green-circle-wrapper p{
    display: block;
    margin: 0px;
    padding-bottom: 4px;
    font-weight: bold;
 }
.green-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: radial-gradient(greenyellow, green);
}

.red-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: radial-gradient(red, darkred);
}


#btn-shutdown-bg{
    padding: 0px;
    width: 41px;
    height: 41px;
    background: #ff0e10;
    border-radius: 20px;
    margin: 0 auto 10px;
    border-bottom: 2px solid #2a2a2a;
    border-top: 2px solid #9f3663;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    float:right;
    margin: 17px 17px 17px 0px;
}
#btn-shutdown-ring{
    padding: 0px;
    position: absolute;
    width: 21px;
    height: 21px;
    border: 5px solid #2a2a2a;
    top: 5px;
    left: 5px;
    border-radius: 31px;
}
#ring-shutdown-line{
    padding: 0px;
    width: 5px;
    height: 20px;
    margin: -7px auto;
    background: #2a2a2a;
    border-radius: 3px;
    border-right: 2px solid #9f3663;
    border-left: 2px solid #ff0e10;
}


/* -- SHUTDOWN -- */
.shutdown #btn-shutdown-bg{
    background: #77e400;
    border-top: 2px solid #b1b1b1;
}

.shutdown #ring-shutdown-line{
    border-right: 2px solid #b1b1b1;
    border-left: 2px solid #77e400;
}
.shutdown .violette
{
    background-color: #5a5a5a;
}
.shutdown .green-circle {
    background: radial-gradient(#b1b1b1, #606060);
}
.shutdown .slider::-webkit-slider-thumb {
    background: #5a5a5a;
}

.shutdown .slider::-moz-range-thumb {
    background: #5a5a5a;
}
/* SHUTDOWN */

/* MEDIA */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)  {
    .body
    {
        max-width: 100%;
    }
}
/* -- MEDIA -- */